{
  "aliases": {
    "url": "aliases.json"
  },

  "mqtt": {
    "host": "192.168.0.1",
    "port": 80,
    "path": "/lg/mqtt",

    "deviceTopic": "my/realm/esper",
    "updateTopic": "my/realm/esper/update"
  },

  "aliveAge": 120000,
  "decayAge": 1209600000
}
