<nav class="navbar navbar-inverse bg-inverse fixed-top">
  <div class="container justify-content-start d-flex">
    <span class="navbar-brand">ESPer Looking Glass</span>
    <span class="navbar-text" [ngSwitch]="connected|async">
      <span *ngSwitchCase="true" class="badge badge-success">Connected</span>
      <span *ngSwitchCase="false" class="badge badge-danger">Not Connected</span>
    </span>
    <button type="button"
            class="ml-auto
                   btn btn-sm btn-outline-warning"
            (click)="triggerUpdate()">
      Trigger Updates
    </button>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <div class="card mb-3"
         *ngFor="let type of getDevices()">
      <h5 class="card-header justify-content-between">
        {{type[0]}}
      </h5>
      <div class="list-group list-group-flush">
        <a href="#"
           class="list-group-item list-group-item-action
                  justify-content-between"
           *ngFor="let device of type[1]"
           (click)="selectDevice(device)"
           [ngClass]="{'active': device == selectedDevice}">
          <span [ngClass]="{'font-italic': !device.alias}">
            {{device.alias ? device.alias.name : 'Unknown'}}
          </span>

          <div class="d-flex w-100 justify-content-between">
            <small>{{device.id}}</small>
            <span class="badge"
                  [ngClass]="{'badge-success': device.alive,
                              'badge-danger': !device.alive}">
              {{device.alive ? 'Online' : 'Offline'}}
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-9"
       *ngIf="selectedDevice">
    <device [device]="selectedDevice"></device>
  </div>
</div>
