<nav class="navbar navbar-inverse bg-inverse fixed-top">
  <div class="container justify-content-start d-flex">
    <span class="navbar-brand">ESPer Looking Glass</span>

    <span class="navbar-text"
          [ngSwitch]="connected|async">
      <span *ngSwitchCase="true"
            class="badge badge-success">
        Connected
      </span>
      <span *ngSwitchCase="false"
            class="badge badge-danger">
        Not Connected
      </span>
    </span>

    <button type="button"
            class="ml-auto
                   btn btn-sm btn-outline-warning"
            (click)="triggerUpdate()">
      Trigger Updates
    </button>
  </div>
</nav>

<div class="row">
  <div class="col-md-3">
    <list #list></list>
  </div>

  <div class="col-md-9"
       *ngIf="list.selection">
    <detail [device]="list.selection"></detail>
  </div>
</div>
