<div class="card"
     *ngIf="device">
  <h5 class="card-header">
    <span *ngIf="device.alias?.name">
      {{device.type}}: {{device.alias.name}}
    </span>
    <span *ngIf="!device.alias?.name">
      {{device.type}}
    </span>
    <small>[{{device.id}}]</small>
    <span class="float-right"
          *ngIf="device.alias?.link">
      <a target="_blank"
         [attr.href]="device.alias.link">Details</a>
    </span>
  </h5>

  <div class="card-block">
    <dl class="row">
      <dt class="col-sm-3">Firmware Version</dt>
      <dd class="col-sm-9">{{device.firmwareVersion}}</dd>

      <dt class="col-sm-3">SDK Version</dt>
      <dd class="col-sm-9">{{device.sdkVersion}}</dd>

      <dt class="col-sm-3">Bootloader Version</dt>
      <dd class="col-sm-9">{{device.bootVersion}}</dd>

      <dt class="col-sm-3">Chip ID</dt>
      <dd class="col-sm-9">{{device.chipId}}</dd>

      <dt class="col-sm-3">Flash ID</dt>
      <dd class="col-sm-9">{{device.flashId}}</dd>

      <dt class="col-sm-3">Current ROM</dt>
      <dd class="col-sm-9">{{device.rom ? "First" : "Second"}}</dd>

      <dt class="col-sm-3">Startup Time</dt>
      <dd class="col-sm-9">{{device.timeStartup | date:'medium'}}</dd>

      <dt class="col-sm-3">Connect Time</dt>
      <dd class="col-sm-9">{{device.timeConnect | date:'medium'}}</dd>

      <dt class="col-sm-3">Current Time</dt>
      <dd class="col-sm-9">{{device.timeCurrent | date:'medium'}}</dd>
    </dl>
  </div>
</div>
