<div class="card"
     *ngIf="device">
  <h5 class="card-header">
    <span [class.font-italic]="!device.alias?.name">
      {{device.alias?.name || 'Unknown'}}
    </span>

    <small *ngIf="device.alias?.link"
          class="float-right">
      <a target="_blank"
         [attr.href]="device.alias.link">
        Details
      </a>
    </small>
  </h5>

  <div class="card-block">
    <dl class="row">
      <dt class="col-sm-3">Device ID</dt>
      <dd class="col-sm-9">{{device.id}}</dd>

      <dt class="col-sm-3">Device Type</dt>
      <dd class="col-sm-9">{{device.type}}</dd>

      <dt class="col-sm-3">Firmware Version</dt>
      <dd class="col-sm-9">{{device.firmwareVersion}}</dd>

      <dt class="col-sm-3">SDK Version</dt>
      <dd class="col-sm-9">{{device.sdkVersion}}</dd>

      <dt class="col-sm-3">Bootloader Version</dt>
      <dd class="col-sm-9">{{device.bootVersion}}</dd>

      <dt class="col-sm-3">Chip ID</dt>
      <dd class="col-sm-9">{{device.chipId}}</dd>

      <dt class="col-sm-3">Flash ID</dt>
      <dd class="col-sm-9">{{device.flashId}}</dd>

      <dt class="col-sm-3">Current ROM</dt>
      <dd class="col-sm-9">{{device.rom ? "First" : "Second"}}</dd>

      <dt class="col-sm-3">Startup Time</dt>
      <dd class="col-sm-9">
        {{device.timeStartup | amTimeAgo}}
        <small class="text-muted">{{device.timeStartup | date:'medium'}}</small>
      </dd>

      <dt class="col-sm-3">Connect Time</dt>
      <dd class="col-sm-9">
        {{device.timeConnect | amTimeAgo}}
        <small class="text-muted">{{device.timeConnect | date:'medium'}}</small>
      </dd>

      <dt class="col-sm-3">Updated Time</dt>
      <dd class="col-sm-9">
        {{device.timeUpdated | amTimeAgo}}
        <small class="text-muted">{{device.timeUpdated | date:'medium'}}</small>
      </dd>
    </dl>
  </div>
</div>
